body { 
    background-color: lightblue;
    
    font-family: 'Titillium Web', sans-serif;
    overflow: hidden;
    font-weight: 300;
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}

:root {
    --primary: #ffffff;
    --light: #ffffff;
    --grey: #efefef;
}

#sidebar-contanier {
    min-height: 100vh;
}

#sidebar-container .logo {
    padding: .875rem 1.25rem;
}

#sidebar-container .menu {
    width: 18rem;
}

.navbar-toggler {
    font-size: 40px;
}

.navbar-toggler:focus {
    outline: none;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-destacados {
    width: 28%;
}

h3 {
    text-align: justify;
    margin-bottom: 50px;
    margin-left: 30px;
}

.titulo {
    font-size: 100px;
}